<h1>Models#index</h1>

<p>
<%= params[:notice] %>
</p>

<table border="1">
  <tr>
    <th>name</th>
	<th>state</th>
	<th>train?</th>
	<th>reset?</th>
  </tr>
 
  <% @models.each do |model| %>
    <tr>
      <td><%= model.id %></td>
	  <td><%= model.state %></td>
	  <td><%= link_to "Train", train_model_path(model), method: :post %></td>
	  <td><%= link_to "Reset", reset_model_path(model), method: :post %></td>
    </tr>
  <% end %>
</table>