<p>
  <strong>ID:</strong>
  <%= @movie.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>
 
<p>
  <strong>Release year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Rating:</strong>
  <%= "%2.2f" % @ratingAvg  %>&nbsp;&nbsp;(<%= @ratingCount %>)
</p>

<p>
  <strong>tmdb ID:</strong>
  <%= @movie.tmdbid %>
</p>

<% if @poster_url %>
  <img src="<%= @poster_url %>" />
<% end %>
