<p>
  <strong>ID:</strong>
  <%= @movie.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>
 
<p>
  <strong>Release year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Rating:</strong>
  <%= "%2.2f" % @movie.rating_avg  %>&nbsp;&nbsp;(<%= @movie.rating_count %>)
</p>

<p>
  <strong>tmdb ID:</strong>
  <%= @movie.tmdbid %>
</p>

<%= column_chart(@freq_data, library: {:chart => {:width => 200, :height => 200}, :title => {:text => :ratings} }) %>

<% if @poster_url %>
  <img src="<%= @poster_url %>" />
<% end %>
