<!DOCTYPE html>
<html>
<head>
  <title>Rpiflix</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "HOME", "/" %>  <br>
<%= link_to "Movies", movies_path %>  <br>
<%= link_to "Models", models_path %>  <br>
<%= link_to "Probes", probes_path %>

<hr>

<%= yield %>

</body>
</html>
